.DS_Store
Phrasify/Phrasify.xcodeproj/xcuserdata/radamczyk.xcuserdatad/xcschemes/xcschememanagement.plist
Phrasify/Phrasify.xcodeproj/project.xcworkspace/xcuserdata/radamczyk.xcuserdatad/UserInterfaceState.xcuserstate
Phrasify/Phrasify.xcodeproj/xcuserdata/radamczyk.xcuserdatad/xcschemes/xcschememanagement.plist
Phrasify/Phrasify.xcodeproj/project.xcworkspace/xcuserdata/radamczyk.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
**/secrets.json
Phrasify/Phraseon.xcodeproj/project.xcworkspace/xcuserdata
Phrasify/Phraseon.xcodeproj/xcuserdata
**/FirebaseSecrets.plist
**/InfoSecrets.plist
