.DS_Store
Phrasify/Phrasify.xcodeproj/xcuserdata/radamczyk.xcuserdatad/xcschemes/xcschememanagement.plist
Phrasify/Phrasify.xcodeproj/project.xcworkspace/xcuserdata/radamczyk.xcuserdatad/UserInterfaceState.xcuserstate
Phrasify/Phrasify.xcodeproj/xcuserdata/radamczyk.xcuserdatad/xcschemes/xcschememanagement.plist
Phrasify/Phrasify.xcodeproj/project.xcworkspace/xcuserdata/radamczyk.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
Phrasify/Phraseon_InHouse/Resources/secrets.json
