<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898674544512-8s54eq7uhcma4r9huqh5026557qb44ds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898674544512-8s54eq7uhcma4r9huqh5026557qb44ds</string>
	<key>API_KEY</key>
	<string>AIzaSyBPvkoUVuxGKCZcV1YORr0zDsc103zA4rw</string>
	<key>GCM_SENDER_ID</key>
	<string>898674544512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>robert.adamczyk.phraseon.macos.inhouse</string>
	<key>PROJECT_ID</key>
	<string>phraseon-inhouse</string>
	<key>STORAGE_BUCKET</key>
	<string>phraseon-inhouse.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898674544512:ios:474a514ef3a03aef473b65</string>
</dict>
</plist>