<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.246222213689-5upca04fskkasaofi8nc04ti0p0m7pfn</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>RethinkSans-Bold.ttf</string>
		<string>RethinkSans-Medium.ttf</string>
		<string>RethinkSans-Regular.ttf</string>
		<string>RethinkSans-SemiBold.ttf</string>
		<string>Roboto-Medium.ttf</string>
	</array>
</dict>
</plist>
